.body{
    display: contents;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-decoration: none;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    
        @include movil {
          width: 100%;
        }
        @include desktop {
          width: 100%;
        }
}
 
.hamburguesa{
    max-height: 2em;
}

video{
    max-height: 400px;
}

br {
    color: yellow;
}