main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;

    .sections{
        width: 100%;

        &_firtspage{
            display: grid;
            grid-template-columns: 56% 42%;
            background-color: $bg_color_header;
            color: white;
            @include movil{
                @media screen and (max-width: $landscape){
                    display: flex;
                    flex-direction: column;
                }
            }

            &-leftconten{
                width: 90%;
                padding-bottom: 5px;
                &--title{
                    color: white;
                    &_resaltado{
                        color: rgb(225, 179, 29);
                    }
                }
                &--subtitle{
                    font-weight: lighter;
                    font-size: 0.6em;
                    &-desaparece{
                        @include movil {
                            display: none;
                        }
                    }

                }
                &--button{
                    text-transform: uppercase;
                    font-weight: bold;
                     width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 0px;
                    gap: 6px;
                    flex-wrap: wrap;
                    align-content: center;
                    align-items: stretch;
                }
                
                @include movil {
                     text-align: center;
                     font-size: 1 em;
                 }
                @include desktop {
                    text-align: left;
                    font-size: 1.7em;
                 }
                 
          }
        }

            &-rightimagen{
                max-width: 700px;
            }

        &_secondpage{
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            background-color:$bg_color_sponsor;
            &-title{
                width: 100%;
                font-size: 1em;
                display: flex;
                justify-content: center;
            }
            &-sponsorship{   
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;
             }
        }
        &_thirdpage{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            background-color:$bg_color_sponsor;
            &-video{
                max-width: 50%;
                height: auto;
            }
            &-paragraph{
                max-width: 30rem;
            }    
        }
        &_fourthpage{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            background-color:$bg_color_sponsor;
            &-video{
                max-width: 50%;
                height: auto;
            }
            &-paragraph{
                max-width: 30rem;
            }    
        }
        &_fifthpage{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            background-color:$bg_color_sponsor;
            &-video{
                max-width: 50%;
                height: auto;
            }
            &-paragraph{
                max-width: 30rem;
            }    

        }

    }
}