.body {
  display: contents;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-decoration: none;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}
@media screen and (max-width: 991px) {
  .body {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .body {
    width: 100%;
  }
}

.hamburguesa {
  max-height: 2em;
}

video {
  max-height: 400px;
}

br {
  color: yellow;
}

header {
  display: block;
  width: 100%;
  height: 90px;
  background-color: rgb(84, 25, 84);
}
header .cabecera {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 80px;
  border-bottom: none;
  /* position: absolute;*/
}
@media screen and (max-width: 991px) {
  header .cabecera {
    flex-wrap: nowrap;
  }
}
header .cabecera_logo {
  max-width: 20%;
}
header .cabecera_logo-imagen {
  max-width: 7em;
}
header .cabecera_elementos {
  width: 70%;
}
header .cabecera_elementos-lista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 14px;
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 991px) {
  header .cabecera_elementos-lista {
    display: none;
  }
}
header .cabecera_hamburguesa {
  max-height: 20px;
}
@media screen and (min-width: 992px) {
  header .cabecera_hamburguesa {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
}
main .sections {
  width: 100%;
}
main .sections_firtspage {
  display: grid;
  grid-template-columns: 56% 42%;
  background-color: rgb(84, 25, 84);
  color: white;
}
@media screen and (max-width: 991px) and (max-width: 991px) {
  main .sections_firtspage {
    display: flex;
    flex-direction: column;
  }
}
main .sections_firtspage-leftconten {
  display: flex;
  max-width: 88%;
  flex-direction: column;
  flex-wrap: wrap;
}
main .sections_firtspage-leftconten--title {
  color: white;
}
main .sections_firtspage-leftconten--title_resaltado {
  color: yellow;
}
main .sections_firtspage-rightimagen {
  max-width: 700px;
}
main .sections_secondpage {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: rgb(244, 237, 228);
}
main .sections_secondpage-title {
  width: 100%;
  font-size: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
}
main .sections_secondpage-sponsorship {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
main .sections_thirdpage {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(244, 237, 228);
}
main .sections_thirdpage-video {
  max-width: 50%;
  height: auto;
}
main .sections_thirdpage-paragraph {
  max-width: 30rem;
}/*# sourceMappingURL=style.css.map */