.normalbutton {
  background-color: #fff;
  color: #611f69;
  fill: #611f69;
  box-shadow: inset 0 0 0 1px #611f69;
  padding: 3%;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 12px;
  border: 2px solid purple;
}

.googlebutton {
  background-color: #4285f4;
  color: #fff;
  position: relative;
  padding: 3%;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 12px;
  border: 2px solid white;
}

.purplebutton {
  color: #fff;
  background-color: #611f69;
  fill: #611f69;
  box-shadow: inset 0 0 0 1px #611f69;
  padding: 3%;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 12px;
  border: 2px solid white;
}

.body {
  display: contents;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-decoration: none;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}
@media screen and (max-width: 661px) {
  .body {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .body {
    width: 100%;
  }
}

.hamburguesa {
  max-height: 2em;
}

video {
  max-width: 100%;
}

br {
  color: yellow;
}

.buttongoogle-img {
  max-width: 11px;
}

header {
  display: block;
  width: 100%;
  height: 90px;
  background-color: rgb(84, 25, 84);
}
header .cabecera {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 80px;
  border-bottom: none;
  /* position: absolute;*/
}
@media screen and (max-width: 661px) {
  header .cabecera {
    flex-wrap: nowrap;
  }
}
header .cabecera_logo {
  max-width: 20%;
}
header .cabecera_logo-imagen {
  max-width: 7em;
}
header .cabecera_elementos {
  width: 70%;
}
header .cabecera_elementos-lista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 14px;
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width: 661px) {
  header .cabecera_elementos-lista {
    display: none;
  }
}
header .cabecera_hamburguesa {
  max-height: 20px;
}
@media screen and (min-width: 992px) {
  header .cabecera_hamburguesa {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
}
main .sections {
  width: 100%;
}
main .sections_firtspage {
  padding: 20px;
  display: grid;
  grid-template-columns: 35% 66%;
  background-color: rgb(84, 25, 84);
  color: white;
}
@media screen and (max-width: 661px) and (max-width: 661px) {
  main .sections_firtspage {
    grid-template-columns: repeat(1, 1fr);
  }
}
main .sections_firtspage-leftconten {
  width: 90%;
  padding-bottom: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main .sections_firtspage-leftconten--title {
  color: white;
}
main .sections_firtspage-leftconten--title_resaltado {
  color: rgb(225, 179, 29);
}
main .sections_firtspage-leftconten--subtitle {
  font-weight: lighter;
  font-size: 0.6em;
}
@media screen and (max-width: 661px) {
  main .sections_firtspage-leftconten--subtitle-desaparece {
    display: none;
  }
}
main .sections_firtspage-leftconten--button {
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 6px;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
}
@media screen and (max-width: 661px) and (max-width: 661px) {
  main .sections_firtspage-leftconten {
    text-align: center;
    font-size: 1 em;
  }
}
@media screen and (min-width: 992px) and (max-width: 991px) {
  main .sections_firtspage-leftconten {
    text-align: left;
    font-size: 1.7em;
  }
}
main .sections-rightimagen {
  max-width: 700px;
}
main .sections-video {
  max-width: 97%;
  height: auto;
  padding: 20px;
}
@media screen and (max-width: 661px) and (max-width: 661px) {
  main .sections-video {
    max-width: 97%;
    height: auto;
    padding: 20px;
  }
}
@media screen and (min-width: 992px) and (max-width: 991px) {
  main .sections-video {
    text-align: left;
    font-size: 1.7em;
  }
}
main .sections_secondpage {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: rgb(244, 237, 228);
}
main .sections_secondpage-title {
  width: 100%;
  font-size: 1em;
  display: flex;
  justify-content: center;
}
main .sections_secondpage-sponsorship {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
main .sections_thirdpage {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(244, 237, 228);
}
main .sections_thirdpage-video {
  max-width: 50%;
  height: auto;
}
main .sections_thirdpage-paragraph {
  max-width: 30rem;
}
main .sections_thirdpage-paragraph-content {
  text-decoration: none;
}
@media screen and (max-width: 661px) {
  main .sections_thirdpage {
    flex-direction: column;
    display: flex;
  }
}
main .sections_fourthpage {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(244, 237, 228);
}
main .sections_fourthpage-content {
  text-decoration: none;
}
main .sections_fourthpage-video {
  max-width: 50%;
  height: auto;
}
main .sections_fourthpage-paragraph {
  max-width: 30rem;
}
main .sections_fourthpage-paragraph-content {
  text-decoration: none;
}
@media screen and (max-width: 661px) {
  main .sections_fourthpage {
    flex-direction: column-reverse;
    display: flex;
  }
}
main .sections_fifthpage {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(244, 237, 228);
}
main .sections_fifthpage-video {
  max-width: 50%;
  height: auto;
}
main .sections_fifthpage-paragraph {
  max-width: 30rem;
}
main .sections_fifthpage-paragraph-content {
  text-decoration: none;
}
@media screen and (max-width: 661px) {
  main .sections_fifthpage {
    flex-direction: column;
    display: flex;
  }
}
main .sections_sixthpage {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding-top: 70px;
  padding-bottom: 70px;
}
main .sections_sixthpage-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 9px;
}
main .sections_sixthpage-porcents {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media screen and (max-width: 661px) {
  main .sections_sixthpage-porcents {
    flex-direction: column;
    display: flex;
  }
}
main .sections_sixthpage-porcents--items {
  list-style: none;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .sections_sixthpage-porcents--items_number {
  color: purple;
  font-size: 2.5em;
  font-weight: bolder;
}
main .sections_sixthpage-porcents--items_paragraph {
  font-size: 0.5em;
  text-align: center;
}
main .sections_seventhpage {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(244, 237, 228);
}
main .sections_seventhpage-rightcontent {
  text-decoration: none;
  max-width: 30rem;
  text-decoration: none;
}
main .sections_seventhpage-rightcontent-paragraph {
  font-family: cursive;
  font-size: 1.5em;
}
main .sections_seventhpage-rightcontent-autor {
  font-weight: bolder;
}
main .sections_seventhpage-rightcontent-enlace {
  text-decoration: none;
}
main .sections_seventhpage-video {
  max-width: 50%;
  height: auto;
  border-radius: 2em;
}
@media screen and (max-width: 661px) {
  main .sections_seventhpage {
    flex-direction: column;
    display: flex;
    gap: 10px;
  }
}
main .sections_eightpage {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 237, 228);
  align-items: center;
}
main .sections_eightpage-title {
  text-align: center !important;
}
main .sections_eightpage-stickers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5em;
  list-style: none;
}
@media screen and (max-width: 991px) and (max-width: 991px) {
  main .sections_eightpage-stickers {
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
  }
}
@media screen and (max-width: 661px) and (max-width: 661px) {
  main .sections_eightpage-stickers {
    display: flex;
    width: 50%;
    justify-content: center;
  }
}
main .sections_eightpage-stickers-individual {
  padding: 10px;
  list-style: none;
  background-color: white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  gap: 5em;
  max-width: 74%;
}
main .sections_eightpage-stickers-individual--pic {
  max-width: 100%;
}
main .sections_eightpage-stickers-individual--desaparece {
  max-width: 74%;
  padding: 20px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  background-color: white;
}
@media screen and (max-width: 661px) and (max-width: 661px) {
  main .sections_eightpage-stickers-individual--desaparece {
    display: none !important;
  }
}
main .sections_ninethpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #4a154b;
  border: none;
  -webkit-clip-path: ellipse(75% 100% at center top);
          clip-path: ellipse(75% 100% at center top);
  height: auto;
  min-height: 370px;
  padding: 20px;
  width: 100%;
  justify-content: center;
  flex-wrap: nowrap;
}
main .sections_ninethpage-title {
  font-weight: bolder;
  color: azure;
}
main .sections_ninethpage-buttons {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 3.5rem;
  padding-bottom: 0;
}
footer .logoul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .logoul_icon {
  display: contents;
}
footer .logoul_icon-img {
  max-width: 5%;
}
footer .logoul_principallist {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: start;
  justify-items: center;
}
footer .logoul_principallist--ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-wrap: wrap;
  padding: 0.5em;
}
footer .logoul_principallist--ul-title {
  text-transform: uppercase;
  color: black;
  font-size: medium;
  align-content: flex-end;
}
footer .logoul_principallist--ul_li {
  color: grey;
  font-weight: lighter;
  font-size: small;
  padding: 10px;
}
footer .metasocial {
  display: flex;
  flex-direction: row;
  width: 100%;
}
footer .metasocial_contenido {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  color: black;
}
footer .metasocial_socialmedia {
  display: flex;
  flex-direction: row;
  width: 20%;
}
footer .metasocial_socialmedia-img {
  max-width: 10%;
}/*# sourceMappingURL=style.css.map */